<header>
  <div class="header-form-page">
    <div class="header-left">
      <%= link_to image_tag("nurho_icon.png", class: "nurho-icon"), "/" %>
    </div>
    <div class="header-middle">
      <div class="title">編集ページ</div>
    </div>
    <div class="header-right">
    </div>
  </div>
</header>

<div class="main">
  <%= form_with(model: @service, local: true) do |f| %>
  <div class="form">
    <div class="form-top">
      <div>
        <%= f.label :images, "画像" %>
        <%= f.file_field :images, name: "service[images][]", id: "image" %>
        <div id="image-list">
        </div>
      </div>
      <div>
        <div><%= f.label :name, "施設・サービス名" %></div>
        <div><%= f.text_field :name, placeholder: "（例）特別養護老人ホーム桜ヶ丘苑", class: "field"%></div>
        <div class="error-message">
          <% if @service.errors.include?(:name) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:name).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :address, "住所" %></div>
        <div><%= f.text_field :address, placeholder: "（例）東京都目黒区自由が丘一丁目1-2", class: "field"%></div>
        <div class="error-message">
          <% if @service.errors.include?(:address) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:address).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :establishment, "開設年月日" %></div>
        <div><%= f.date_select :establishment, {start_year: 1970, last_year: 2021, use_month_numbers: true} %></div>
        <div class="error-message">
          <% if @service.errors.include?(:establishment) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:establidhment).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :capacity, "定員" %></div>
        <div><%= f.number_field :capacity, placeholder: 100 %></div>
        <div class="error-message">
          <% if @service.errors.include?(:capacity) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:capacity).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :rooms, "居室数" %></div>
        <div><%= f.number_field :rooms, placeholder: 100 %></div>
        <div class="error-message">
          <% if @service.errors.include?(:rooms) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:rooms).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :phone, "電話番号" %> ※ハイフンなし</div>
        <div><%= f.text_field :phone, placeholder: "0123456789" %></div>
        <div class="error-message">
          <% if @service.errors.include?(:phone) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:phone).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :explanation, "説明" %> ※200文字以内</div>
        <div><%= f.text_area :explanation, placeholder: "閑静な住宅街に佇む綺麗な特別養護老人ホームです。医療体制も充実していて、24時間体制で看護師が常駐しています。ぜひ一度見学にお越しください。", class: "area"%></div>
        <div class="error-message">
          <% if @service.errors.include?(:explanation) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:explanation).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :category_id, "施設の種類" %></div>
        <div><%= f.collection_select :category_id, Category.all, :id, :name, {} %></div>
        <div class="error-message">
          <% if @service.errors.include?(:category_id) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:category_id).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :prefecture_id, "都道府県" %></div>
        <div><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {} %></div>
        <div class="error-message">
          <% if @service.errors.include?(:prefecture_id) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:prefecture_id).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label "入居費用" %>（万円）</div>
        <div><%= f.number_field :lump_sum_min, placeholder: 500 %><span>~</span><%= f.number_field :lump_sum_max, placeholder: 1000 %></div>
        <div class="error-message">
          <% if @service.errors.include?(:lump_sum_min) || @service.errors.include?(:lump_sum_max) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:lump_sum_min).first %>
            <%= @service.errors.full_messages_for(:lump_sum_max).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label "月額" %>（万円）</div>
        <div><%= f.number_field :monthly_sum_min, placeholder: 20 %><span>~</span><%= f.number_field :monthly_sum_max, placeholder: 30%></div>
        <div class="error-message">
          <% if @service.errors.include?(:monthly_sum_min) || @service.errors.include?(:monthly_sum_max) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:monthly_sum_min).first %>
            <%= @service.errors.full_messages_for(:monthly_sum_max).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :age_id, "年齢制限" %></div>
        <div><%= f.collection_select :age_id, Age.all, :id, :name, {} %></div>
        <div class="error-message">
          <% if @service.errors.include?(:age_id) %>
            <span>※ </span>
            <%= @service.errors.full_messages_for(:age_id).first %>
          <% end %>
        </div>
      </div>
      <div>
        <div><%= f.label :age_id, "保証人なし" %></div>
        <div><%= f.select :guarantor, [["○", 1],["要相談", 2],["×", 3]] %></div>
      </div>
      <div>
        <div><%= f.label :age_id, "生活保護受給者" %></div>
        <div><%= f.select :welfare, [["○", 1],["要相談", 2],["×", 3]] %></div>
      </div>
    </div>
    <div class="form-middle">
      <table border="1">
        <caption>介護度</caption>
        <tr>
          <td>自立</td>
          <td>要支援1</td>
          <td>要支援2</td>
          <td>要介護1</td>
          <td>要介護2</td>
          <td>要介護3</td>
          <td>要介護4</td>
          <td>要介護5</td>
        </tr>
        <tr>
          <td>
            <%= f.select :self_reliance, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :support_one, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :support_two, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :nursing_one, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :nursing_two, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :nursing_three, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :nursing_four, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :nursing_five, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-bottom">
      <table border="1">
        <caption>医療体制</caption>
        <tr>
          <td>認知症</td>
          <td>看取り</td>
          <td>介護食</td>
          <td>流動食</td>
          <td>リハビリ</td>
          <td>糖尿病</td>
          <td>胃ろう</td>
          <td>経管栄養</td>
          <td>ストーマ</td>
          <td>在宅酸素療法</td>
        </tr>
        <tr>
          <td>
            <%= f.select :dementia, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :take_care, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :care_food, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :liquid_food, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :rehabilitation, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :dm, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :gastrostomy, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :tube_feeding, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :stoma, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :home_oxygen_therapy, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
        </tr>
        <tr>
          <td>人工呼吸器</td>
          <td>褥瘡</td>
          <td>たん吸引</td>
          <td>人工透析</td>
          <td>気管切開</td>
          <td>IVH</td>
          <td>カテーテル</td>
          <td>ペースメーカー</td>
          <td>ALS</td>
          <td>誤嚥性肺炎</td>
        </tr>
        <tr>
          <td>
            <%= f.select :ventilator, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :bedsore, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :sputum_suction, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :dialysis, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :tracheostomy, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :ivh, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :catheter, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :pacemaker, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :als, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :aspiration_pneumonia, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
        </tr>
        <tr>
          <td>喘息・気管支炎</td>
          <td>パーキンソン病</td>
          <td>廃用症候群</td>
          <td>鬱病</td>
          <td>統合失調症</td>
          <td>リウマチ</td>
          <td>骨粗鬆症</td>
          <td>脳梗塞</td>
          <td>心筋梗塞</td>
          <td>末期癌</td>
        </tr>
        <tr>
          <td>
            <%= f.select :asthma, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :parkinson_disease, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :disuse_syndrome, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :clinical_depression, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :schizophrenia, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :rheumatism, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :osteoporosis, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :cerebral_infarction, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :myocardial_infarction, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
          <td>
            <%= f.select :cancer, [["○", 1],["要相談", 2],["×", 3]] %>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <%= f.submit "登録", class: "submit-btn" %>
    </div>
  </div>
  <% end %>
</div>

<footer>
  <div class="footer-left"></div>
  <div class="footer-middle">
    <p class="logo">© nurho</p>
  </div>
  <div class="footer-right">
  </div>
</footer>