<header>
  <div class="header-top-page">
    <div class="header-left">
      <%= link_to image_tag("nurho_icon.png", class: "nurho-icon"), "/" %>
    </div>
    <div class="header-middle">
      <h1 class="context">あなたにぴったりの施設・サービスが見つかる</h1>
      <%= link_to "条件検索", "#", class: "search-button" %>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
        <p class="user-name">ユーザー名</p>
        <%= link_to "マイページ", "#", class: "mypage" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
      <% else %>
        <p class="user-name">ゲスト さん</p>
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

<div class= "main">
</div>

<footer>
  <div class="footer-left"></div>
  <div class="footer-middle">
    <p class="logo">© norho</p>
  </div>
  <div class="footer-right">
    <%= link_to "企業様向け", companies_path, class: "company-page"%>
  </div>
</footer>