<header>
  <div class="header-top-page">
    <div class="header-left">
      <%= link_to image_tag("nurho_icon.png", class: "nurho-icon"), "/" %>
    </div>
    <div class="header-middle">
      <h1 class="context">あなたにぴったりの施設・サービスが見つかる</h1>
      <div id="open", class="search-button">
      条件検索
      </div>
      <div id="mask", class="hidden"></div>
      <section id="modal", class="hidden">
        <%= form_with(url: search_services_path, method: :get, local: true) do |f| %>
        <div>
          <%= f.label "入居費用" %>
          <%= f.select :lump_sum, [["--","1"],["0","2"],["0~10万","3"],["10万~20万","4"],["20万~50万","5"],["50万~100万","6"],["100万~200万","7"],["200万~500万","8"],["500万~1000万","9"],["1000万~2000万","10"],["2000万~5000万","11"],["5000万以上","12"]] %>
        </div>
        <div>
          <%= f.label "月額" %>
          <%= f.select :monthly_sum, [["--","1"],["0","2"],["0~5万","3"],["5万~10万","4"],["10万~15万","5"],["15万~20万","6"],["20万~30万","7"],["30万~40万","8"],["40万~50万","9"],["50万~60万","10"],["60万~70万","11"],["70万~80万","12"],["80万~90万","13"],["90万~100万","14"],["100万以上","15"]] %>
        </div>
        <div>
          <%= f.label :prefecture_id, "都道府県" %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {} %>
        </div>
        <div>
          <%= f.label :category_id, "施設の種類" %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {} %>
        </div>
        <div>
          <%= f.label :age_id, "年齢制限" %>
          <%= f.collection_select :age_id, Age.all, :id, :name, {} %>
        </div>
        <div>
        <%= f.label "介護度" %>
        <%= f.select :nursing_degree, [["--","1"],["自立","2"],["要支援1","3"],["要支援2","4"],["要介護1","5"],["要介護2","6"],["要介護3","7"],["要介護4","8"],["要介護5","9"]] %>
        </div>
        <div>
        <%= f.label "保証人なし" %>
        <%= f.check_box :guarantor ,{}, "true", "false" %>
        </div>
        <div>
        <%= f.label "生活保護" %>
        <%= f.check_box :welfare,{}, "true", "false" %>
        </div>
        <div>
          <%= f.label "医療面" %>
        </div>
        <%= f.label "認知症" %>
        <%= f.check_box :dementia, {}, "true", "false" %>
        <%= f.label "看取り" %>
        <%= f.check_box :take_care, {}, "true", "false" %>
        <%= f.label "介護食" %>
        <%= f.check_box :care_food, {}, "true", "false" %>
        <%= f.label "流動食" %>
        <%= f.check_box :liquid_food, {}, "true", "false" %>
        <%= f.label "リハビリ" %>
        <%= f.check_box :rehabilitation, {}, "true", "false" %>
        <%= f.label "糖尿病" %>
        <%= f.check_box :dm, {}, "true", "false" %>
        <%= f.label "胃ろう" %>
        <%= f.check_box :gastrostomy, {}, "true", "false" %>
        <%= f.label "経管栄養" %>
        <%= f.check_box :tube_feeding, {}, "true", "false" %>
        <%= f.label "ストーマ" %>
        <%= f.check_box :stoma, {}, "true", "false" %>
        <%= f.label "在宅酸素療法" %>
        <%= f.check_box :home_oxygen_therapy, {}, "true", "false" %>
        <%= f.label "人工呼吸器" %>
        <%= f.check_box :ventilator, {}, "true", "false" %>
        <%= f.label "褥瘡" %>
        <%= f.check_box :bedsore, {}, "true", "false" %>
        <%= f.label "たん吸引" %>
        <%= f.check_box :sputum_suction, {}, "true", "false" %>
        <%= f.label "人工透析" %>
        <%= f.check_box :dialysis, {}, "true", "false" %>
        <%= f.label "IVH" %>
        <%= f.check_box :ivh, {}, "true", "false" %>
        <%= f.label "カテーテル" %>
        <%= f.check_box :catheter, {}, "true", "false" %>
        <%= f.label "ペースメーカー" %>
        <%= f.check_box :pacemaker, {}, "true", "false" %>
        <%= f.label "ALS" %>
        <%= f.check_box :als, {}, "true", "false" %>
        <%= f.label "誤嚥性肺炎" %>
        <%= f.check_box :aspiration_pneumonia, {}, "true", "false" %>
        <%= f.label "喘息・気管支炎" %>
        <%= f.check_box :asthma, {}, "true", "false" %>
        <%= f.label "パーキンソン病" %>
        <%= f.check_box :parkinson_disease, {}, "true", "false" %>
        <%= f.label "廃用症候群" %>
        <%= f.check_box :disuse_syndrome, {}, "true", "false" %>
        <%= f.label "鬱病" %>
        <%= f.check_box :clinical_depression, {}, "true", "false" %>
        <%= f.label "統合失調症" %>
        <%= f.check_box :schizophrenia, {}, "true", "false" %>
        <%= f.label "リウマチ" %>
        <%= f.check_box :rheumatism, {}, "true", "false" %>
        <%= f.label "骨粗鬆症" %>
        <%= f.check_box :osteoporosis, {}, "true", "false" %>
        <%= f.label "脳梗塞" %>
        <%= f.check_box :cerebral_infarction, {}, "true", "false" %>
        <%= f.label "心筋梗塞" %>
        <%= f.check_box :myocardial_infarction, {}, "true", "false" %>
        <%= f.label "末期癌" %>
        <%= f.check_box :cancer, {}, "true", "false" %>
        <div>
          <%= f.submit "検索", id: "search", class: "search-button"%>
        </div>
        <% end %>
      </section>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
        <p class="user-name">ユーザー名</p>
        <%= link_to "マイページ", user_path(current_user.id), class: "mypage" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
      <% else %>
        <p class="user-name">ゲスト さん</p>
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

<div class= "main">
  <ul class="service-lists">
    <% @services.each do |service|%>
    <li class="service-list">
      <div>
        <%=link_to service.name, service_path(service.id), class: "service-name" %>
      </div>
      <div>
        <%= service.explanation %>
      </div>
      <div class="service-list-middle">
        <div class="service-table">
          <table border="1" class="top-page-table">
            <tr>
              <td class="top-page-table-label">
                入居金
              </td>
              <td class="top-page-table-data">
                <% if service.lump_sum_min == service.lump_sum_max %>
                  <%= service.lump_sum_min %><span> 万円</span>
                <% else %>
                  <%= service.lump_sum_min %>
                  <span>~</span>
                  <%= service.lump_sum_max %><span> 万円</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="top-page-table-label">
                月額
              </td>
              <td class="top-page-table-data">
                <% if service.monthly_sum_min == service.monthly_sum_max %>
                  <%= service.monthly_sum_min %><span> 万円</span>
                <% else %>
                  <%= service.monthly_sum_min %>
                  <span>~</span>
                  <%= service.monthly_sum_max %><span> 万円</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="top-page-table-label">
                住所
              </td>
              <td class="top-page-table-data">
                <%= service.address %>
              </td>
            </tr>
            <tr>
              <td class="top-page-table-label">
                開設年月日
              </td>
              <td class="top-page-table-data">
                <%= service.establishment.year %><span> 年</span>
                <%= service.establishment.month %><span> 月</span>
                <%= service.establishment.day %><span> 日</span>
              </td>
            </tr>
            <tr>
              <td class="top-page-table-label">
                <p>定員 / 居室数</p>
              </td>
              <td class="top-page-table-data">
                <%= service.capacity %><span> 名</span>
                <span>/</span>
                <%= service.rooms %><span> 室</span>
              </td>
            </tr>
            <tr>
              <td class="top-page-table-label">
                電話番号
              </td>
              <td class="top-page-table-data">
                <%= service.phone %>
              </td>
            </tr>
          </table>
        </div>
        <div class="service-image">
          <% service.images.each do |image| %>
            <%= image_tag image.variant(resize: '300x500') %>
          <% end %>
        </div>
      </div>
      <%= link_to "お気に入り", service_favorites_path(service.id), method: :post %>
      <%= link_to "お気に入り解除", service_favorite_path(:id, service.id), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>

<footer>
  <div class="footer-left"></div>
  <div class="footer-middle">
    <p class="logo">© norho</p>
  </div>
  <div class="footer-right">
    <%= link_to "企業様向け", companies_path, class: "company-page"%>
  </div>
</footer>