<header>
  <div class="header-sign-in-page">
    <div class="header-left">
      <%= link_to image_tag("nurho_icon.png", class: "nurho-icon"), "/" %>
    </div>
    <div class="header-middle">
      <h1 class="header-text">新規登録</h1>
    </div>
  </div>
</header>

<%= form_with model: @user, url: user_registration_path, class: "sign-in", local: true do |f| %>

<div class="form-wrap">
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">名前</label>
    </div>
    <%= f.text_area :name, class: "input-default", id: "user-name", placeholder: "例) 田中太郎", maxlength: "10" %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">メールアドレス</label>
    </div>
    <%= f.email_field :email, class: "input-default", id: "email", placeholder: "PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">パスワード</label>
    </div>
    <%= f.password_field :password, class: "input-default", id: "password", placeholder: "英字と数字を含めた6文字以上の半角英数字" %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">パスワード(確認)</label>
    </div>
    <%= f.password_field :password_confirmation, class: "input-default", id: "password-confirmation", placeholder: "もう一度入力して下さい" %>
  </div>
  <div class="form-group">
    <h2 class="form-bottom-text">
      <span>利用規約</span>
      を必ず確認してください
    </h2>
  </div>
  <div class="registration-btn">
    <%= f.submit "登録" ,class:"btn-text" %>
  </div>
</div>

<% end %>

<footer>
  <div class="footer-left"></div>
  <div class="footer-middle">
    <p class="logo">© norho</p>
  </div>
  <div class="footer-right">
  </div>
</footer>
